@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700&display=swap");

/* ===== RESET & BASE ===== */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100%;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ffffff;
}

/* ===== SCROLLBAR ===== */

/* width */
::-webkit-scrollbar {
  width: 4px;
}

/* track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* handle */
::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 6px;
  min-height: 50px;
}

/* handle hover */
::-webkit-scrollbar-thumb:hover {
  background-color: #666;
}
